.Message {
    margin: 10px 0;
    max-width: 60%;
    min-height: 5vh;
    display: flex;
    

    &.flex-end {
        align-items: flex-end;
        max-width: 100%;
    }
    
    &.column {
        flex-direction: column;
    }

    &__wrap {
        padding: 5px;
        display: flex;
        background-color: lightgray;
        &.width-50 {
            max-width: 50%;
        }
    }		

    &__info {
        display: flex;
        flex-direction: column;
        &-name {
            font-weight: bold;
        }
        &-avatar {
            width: 30px;
            height: 30px;
            align-self: start;
            border-radius: 50%;
        }
        &-text {
            display: inline-block;
            word-break: break-all;
        }
        &-date {
            align-self: flex-end;
            font-style: italic;
            font-size: 12px;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3px;
        width: 20%;
        height: 20px;

        &__btn {
            width: 47%;
            height: 100%;
        }
    }

    .primary {
        min-width: 60px;
    }

    .secondary {
        margin-left: 5px;
        justify-content: space-between;
    }

    
}